
.principal{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.card {
    color: black;
    margin: 70px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    
}

.descrip{
    color: rgb(255, 255, 255);
    background-color: rgb(252, 0, 0);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

.info{
    height: 70%;
    width: 100%;

}

footer{
    height: 30px;
    background-color: aqua;

}

.text-foo{
    text-align: center;
    align-items: center;

}